.app-header,.app-footer{
    position: fixed;
    width:100%;
    z-index: 99;
    max-width:768px;
    min-width:320px;
    margin:0 auto;
}
.app-footer{
    bottom:0;
}
.app-header{
    top:0;
}
.main{
    width:100%;
    max-width:768px;
    min-width:320px;
    margin:0.8rem auto 1rem auto;
    background:#f4f4f4;
    position: fixed;
    top:0;
    bottom:0;
    box-sizing:border-box;
}
.main-contaienr{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    bottom:0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.hide-footer .app-footer{
    display: none;
}
.hide-footer .main{
    margin-bottom:0;
}
.hide-header .main{
    margin-top:0;
}
.search-page .main{
    margin-top:1.2rem;
    background:#fff;
}

#header-title{
    height:0.8rem;
    line-height:0.8rem;
    background-color:rgb(0, 151, 255);
    color:#fff;
    text-align: center;
}
.go-back{
    position: absolute;
    left:0;
    top:0;
    line-height: 0.8rem;
    width:0.8rem;
    height:.8rem;
    display: inline-block;
    font-size:0.6rem;
    color:#fff;
    outline:none;
}
.go-back:before,.go-back:after{
    content:'';
    width:.24rem;
    height:2px;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    background:#fff;
    margin-left:-.15rem;
    -webkit-transform-origin:left center;
    -moz-transform-origin:left center;
    -ms-transform-origin:left center;
    -o-transform-origin:left center;
    transform-origin:left center;
}
.go-back:before{
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform:rotate(-40deg);
    -o-transform:rotate(-40deg);
    transform: rotate(-40deg);
}
.go-back:after{
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform:rotate(40deg);
    -o-transform:rotate(40deg);
    transform: rotate(40deg);
}

